<div class="grid grid-cols-1 md:grid-cols-3 mt-20 mx-5 md:mx-20 gap-5">
  <div class="col-span-1 md:col-span-1">
    <div class="flex flex-col">
      <h1 class="text-4xl font-semibold">Enquetes em Destaque</h1>
      <span class="text-xl my-3">
        Estamos constantemente atualizando esta seção para destacar as votações
        que estão gerando um grande impacto.
      </span>
      <a class="text-2xl text-purple-400 font-semibold" routerLink="/search">
        Ver todas
      </a>
    </div>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 md:mx-20 mx-5 gap-5">
  <div class="col-span-1 md:col-span-1 md:mt-10 mt-5" *ngFor="let survey of trending">
    <app-card-survey [survey]="survey"></app-card-survey>
  </div>

</div>
