<div class="bg-zinc-50 p-5 rounded-lg my-5">
  <h1 class="text-xl font-semibold">Categoria</h1>

  <div class="flex border rounded-full bg-white hover:border-purple-400 my-3">
    <button type="button" class="ml-5" disabled>
      <fa-icon [icon]="icons.search" class="text-zinc-500"></fa-icon>
    </button>
    <input type="text" class="w-full p-3 px-5 rounded-full outline-none" />
  </div>
  <!-- <div class="flex flex-wrap">
    <app-badge [info]="{ type: 'pet', label: 'Animals' }"></app-badge>
    <app-badge [info]="{ type: 'pet', label: 'Animals' }"></app-badge>
    <app-badge [info]="{ type: 'pet', label: 'Animals' }"></app-badge>
    <app-badge [info]="{ type: 'pet', label: 'Animals' }"></app-badge>
  </div> -->
</div>
