<div class="grid grid-cols-1 md:grid-cols-4 min-h-screen mx-10 md:mx-20 gap-5 mt-20">
  <div class="col-span-1 md:col-span-1">
    <app-filter-by-category></app-filter-by-category>
    <app-filter-by-votes></app-filter-by-votes>
    <app-filter-by-done></app-filter-by-done>
    <app-filter-by-settings></app-filter-by-settings>
  </div>
  <!-- <div class="col-span-1 md:col-span-3">
    <app-card-survey></app-card-survey>
    <app-card-survey></app-card-survey>
    <app-card-survey></app-card-survey>
    <app-card-survey></app-card-survey>
    <app-card-survey></app-card-survey>
  </div> -->
</div>
