<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="h-full w-full flex flex-col justify-center bg-zinc-50 p-5 md:px-20 px-10"
>
  <h1 class="text-5xl text-center">
    Bem vindo ao <b class="text-purple-400"> Survey Jornal</b>
  </h1>
  <span class="text-xl text-center">
    Para criar sua conta preencha o formulário abaixo.
  </span>

  <label for="name" class="font-semibold mt-10">Nome</label>
  <div
    class="flex border rounded-full bg-white hover:border-purple-400"
    [class.border-red-400]="hasError('name')"
  >
    <button type="button" class="ml-5" disabled>
      <fa-icon [icon]="icons.person" class="text-zinc-500"></fa-icon>
    </button>
    <input
      type="text"
      class="w-full p-3 px-5 rounded-full outline-none"
      formControlName="name"
    />
  </div>
  <small class="text-red-400 mt-1" *ngIf="hasError('name')">
    Nome inválido
  </small>

  <label for="document" class="font-semibold mt-5">CPF</label>
  <div
    class="flex border rounded-full bg-white hover:border-purple-400"
    [class.border-red-400]="hasError('document')"
  >
    <button type="button" class="ml-5" disabled>
      <fa-icon [icon]="icons.person" class="text-zinc-500"></fa-icon>
    </button>
    <input
      type="text"
      class="w-full p-3 px-5 rounded-full outline-none"
      formControlName="document"
      mask="000.000.000-00"
    />
  </div>
  <small class="text-red-400 mt-1" *ngIf="hasError('document')">
    Documento inválido
  </small>

  <label for="email" class="font-semibold mt-5">E-mail</label>
  <div
    class="flex border rounded-full bg-white hover:border-purple-400"
    [class.border-red-400]="hasError('email')"
  >
    <button type="button" class="ml-5" disabled>
      <fa-icon [icon]="icons.email" class="text-zinc-500"></fa-icon>
    </button>
    <input
      type="text"
      class="w-full p-3 px-5 rounded-full outline-none"
      formControlName="email"
    />
  </div>
  <small class="text-red-400 mt-1" *ngIf="hasError('email')">
    E-mail inválido
  </small>

  <label for="password" class="font-semibold mt-5">Senha</label>
  <div
    class="flex border rounded-full bg-white hover:border-purple-400"
    [class.border-red-400]="hasError('password')"
  >
    <input
      [type]="!isPass ? 'password' : 'text'"
      class="w-full p-3 px-5 rounded-full outline-none"
      formControlName="password"
    />
    <button type="button" class="mr-5" (click)="onHandlePass()">
      <fa-icon
        [icon]="!isPass ? icons.eye : icons.slash"
        class="text-zinc-500"
      ></fa-icon>
    </button>
  </div>

  <small class="text-red-400 mt-1" *ngIf="hasError('password')">
    Senha inválida
  </small>

  <select
    formControlName="profile"
    class="border rounded-full bg-white hover:border-purple-400 p-3 w-full mb-5 mt-5"
  >
    <option value="0" disabled>Perfil:</option>
    <option value="admin">Quero criar enquetes</option>
    <option value="guest">Quero apenas participar de votações</option>
  </select>

  <app-simple-button
    [label]="'CRIAR CONTA'"
    [full]="true"
    class="mt-10"
    [loading]="isLoading"
    [type]="'submit'"
  ></app-simple-button>

  <span class="text-center text-xl mt-5"
    >Já é registrado?
    <b class="text-purple-400 cursor-pointer" routerLink="/auth/login"
      >Entrar</b
    ></span
  >
</form>
