<div class="grid grid-cols-1 md:grid-cols-2 mx-5 md:mx-20 mt-10 py-10 mb-20">
  <div class="col-span-1 md:col-span-1">
    <div class="flex flex-col items-start justify-center w-full h-full">
      <h1 class="md:text-6xl text-5xl font-bold">
        Descubra a Opinião Coletiva com Facilidade!
      </h1>
      <span class="md:text-3xl text-xl mt-5">
        Bem-vindo ao <b class="text-purple-400">SURVEY JORNAL</b> - a plataforma
        definitiva para criar e explorar enquetes em tempo real! Quer saber a
        opinião de amigos, colegas ou até mesmo de um público global sobre um
        assunto específico? Não procure mais.
      </span>

      <div class="flex items-center mt-5">
        <app-create-survey></app-create-survey>
      </div>
    </div>
  </div>
  <div class="col-span-1 md:col-span-1">
    <div class="flex w-full items-center justify-center">
      <img src="assets/imgs/img4.png" alt="" />
    </div>
  </div>
</div>
